<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="empre.hoy.myapplication" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:theme="@style/AppTheme.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Bienvenida2Activity" />
        <activity android:name=".Bienvenida3Activity" />
        <activity android:name=".Bienvenida4Activity" />
        <activity android:name=".Bienvenida5DatosJuridico1Activity" />
        <activity android:name=".Bienvenida5DatosJuridico2Activity" />
        <activity android:name=".Bienvenida5DatosJuridico3Activity"/>
        <activity android:name=".Bienvenida6DatosNatural1Activity" />
        <activity android:name=".Bienvenida6DatosNatural2Activity" />
        <activity android:name=".Bienvenida6DatosNatural3Activity" />
        <activity android:name=".Bienvenida7EmpezarTutorial1Activity" />
        <activity android:name=".Bienvenida7EmpezarTutorial11Activity" />
        <activity android:name=".Bienvenida8EmpezarTutorial1FertilizantesActivity" />
        <activity android:name=".Bienvenida8EmpezarTutorial2FertilizantesActivity" />
        <activity android:name=".Bienvenida8EmpezarTutorial1GanaderiaActivity" />
        <activity android:name=".Bienvenida8EmpezarTutorial2GanaderiaActivity" />
        <activity android:name=".Bienvenida8EmpezarTutorial1InsumosActivity" />
        <activity android:name=".Bienvenida8EmpezarTutorial2InsumosActivity" />
        <activity android:name=".Bienvenida8EmpezarTutorial1MaquinariaActivity" />
        <activity android:name=".Bienvenida8EmpezarTutorial2MaquinariaActivity" />
        <activity android:name=".Bienvenida8EmpezarTutorial1Pesca" />
        <activity android:name=".Bienvenida8EmpezarTutorial2Pesca" />
        <activity android:name=".Bienvenida8EmpezarTutorial1Pesticidas" />
        <activity android:name=".Bienvenida8EmpezarTutorial2Pesticidas" />
        <activity android:name=".CarritoActivity" />
        <activity android:name=".Comprar1Activity" />
        <activity android:name=".Comprar2Activity" />
        <activity android:name=".ComprarVenderActivity" />
        <activity android:name=".DatosJuridicoActivity" />
        <activity android:name=".DatosJuridico2Activity" />
        <activity android:name=".DatosNatural2Activity" />
        <activity android:name=".EspacioAlClienteActivity" />
        <activity android:name=".EspacioVentaActivity" />
        <activity android:name=".EstadiFertilizantesActivity" />
        <activity android:name=".EstadiGanaderiaActivity" />
        <activity android:name=".EstadiInsumosActivity" />
        <activity android:name=".EstadiMaquinariaActivity" />
        <activity android:name=".EstadiPescaActivity" />
        <activity android:name=".EstadiPesticidasActivity" />
        <activity android:name=".EstadisticasGeneralActivity" />
        <activity android:name=".IniciarSesionActivity" />
        <activity android:name=".Inicio1Activity" />
        <activity android:name=".Inicio2Activity" />
        <activity android:name=".ListaProveedoresActivity" />
        <activity android:name=".PerfilUsuarioCompraActivity" />
        <activity android:name=".PerfilVentaProductosActivity" />
        <activity android:name=".PrincipalActivity" />
        <activity android:name=".TipodeAccionActivity" />
        <activity android:name=".TipoUsuarioActivity" />
        <activity android:name=".TutoFertilzantes" />
        <activity android:name=".TutoGanaderia" />
        <activity android:name=".TutoInsumos" />
        <activity android:name=".TutoMaquinaria" />
        <activity android:name=".TutoPesca" />
        <activity android:name=".TutoPesticidas" />
        <activity android:name=".TutorialActivity" />
        <activity android:name=".UbicanosActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>