<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="empre.hoy.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".OpcionesRespuestaActivity"
            android:exported="true" />
        <activity
            android:name=".BuzonActivity"
            android:exported="true" />
        <activity
            android:name=".PublicacionesActivity"
            android:exported="true" />
        <activity
            android:name=".Vender4Activity"
            android:exported="true" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Bienvenida2Activity" />
        <activity android:name=".Bienvenida3Activity" />
        <activity android:name=".Bienvenida4Activity" />
        <activity android:name=".Bienvenida5DatosJuridico1Activity" />
        <activity android:name=".Bienvenida5DatosJuridico2Activity" />
        <activity android:name=".Bienvenida5DatosJuridico3Activity" />
        <activity android:name=".Bienvenida6DatosNatural1Activity" />
        <activity android:name=".Bienvenida6DatosNatural2Activity" />
        <activity android:name=".Bienvenida6DatosNatural3Activity" />
        <activity android:name=".Bienvenida7EmpezarTutorial1" />
        <activity android:name=".Bienvenida7EmpezarTutorial11" />
        <activity android:name=".Bienvenida81EmpezarTutorial21Info1FertilizantesActivity" />
        <activity android:name=".Bienvenida82EmpezarTutorial21Info2FertilizantesActivity" />
        <activity android:name=".Bienvenida83EmpezarTutorial22Info1GanaderiaActivity" />
        <activity android:name=".Bienvenida84EmpezarTutorial22Info2GanaderiaActivity" />
        <activity android:name=".Bienvenida85EmpezarTutorial23Info1InsumosActivity" />
        <activity android:name=".Bienvenida86EmpezarTutorial23Info2InsumosActivity" />
        <activity android:name=".Bienvenida87EmpezarTutorial24Info1MaquinariaActivity" />
        <activity android:name=".Bienvenida88mpezarTutorial24Info2MaquinariaActivity" />
        <activity android:name=".Bienvenida89EmpezarTutorial25Info1PescaActivity" />
        <activity android:name=".Bienvenida810EmpezarTutorial25Info2PescaActivity" />
        <activity android:name=".Bienvenida811EmpezarTutorial26Info1PesticidasActivity" />
        <activity android:name=".Bienvenida812EmpezarTutorial26Info2PesticidasActivity" />
        <activity android:name=".CarritoActivity" />
        <activity android:name=".Comprar1Activity" />
        <activity android:name=".Comprar2Activity" />
        <activity android:name=".Comprar21ListaProveedoresFertilizantesActivity" />
        <activity android:name=".Comprar21ListaProveedoresGanaderiaActivity" />
        <activity android:name=".Comprar21ListaProveedoresInsumosActivity" />
        <activity android:name=".Comprar21ListaProveedoresMaquinariaActivity" />
        <activity android:name=".Comprar21ListaProveedoresPescaActivity" />
        <activity android:name=".Comprar21ListaProveedoresPesticidasActivity" />
        <activity android:name=".ComprarVenderActivity" />
        <activity android:name=".DatosJuridicoActivity" />
        <activity android:name=".DatosJuridico2Activity" />
        <activity android:name=".DatosNatural2Activity" />
        <activity android:name=".EspacioAlClienteActivity" />
        <activity android:name=".EspacioVentaActivity" />
        <activity android:name=".EstadiFertilizantesActivity" />
        <activity android:name=".EstadiGanaderiaActivity" />
        <activity android:name=".EstadiInsumosActivity" />
        <activity android:name=".EstadiMaquinariaActivity" />
        <activity android:name=".EstadiPescaActivity" />
        <activity android:name=".EstadiPesticidasActivity" />
        <activity android:name=".EstadisticasGeneralActivity" />
        <activity android:name=".EstadisticasGeneral2Activity" />
        <activity android:name=".IniciarSesionActivity" />
        <activity android:name=".Inicio1Activity" />
        <activity android:name=".ListaProveedoresActivity" />
        <activity android:name=".NoticiasGeneral2Activity" />
        <activity android:name=".PerfilUsuarioCompraActivity" />
        <activity android:name=".PerfilVentaProductosActivity" />
        <activity android:name=".PrincipalActivity" />
        <activity android:name=".TipodeAccionActivity" />
        <activity android:name=".TipoUsuarioActivity" />
        <activity android:name=".TutoFertilzantes" />
        <activity android:name=".TutoGanaderia" />
        <activity android:name=".TutoInsumos" />
        <activity android:name=".TutoMaquinaria" />
        <activity android:name=".TutoPesca" />
        <activity android:name=".TutoPesticidas" />
        <activity android:name=".TutorialActivity" />
        <activity android:name=".UbicanosActivity" />
        <activity android:name=".Vender1Activity" />
        <activity android:name=".Vender2Activity" />
        <activity android:name=".Vender3Activity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>